<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Главная | WOZBORN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="card">
        <h1>Добро пожаловать на сайт, {{ name }}</h1>
        <ul>
            <li><a href="/stories">Истории</a></li>
            <li><a href="http://gb.ru" target="_blank">gb.ru</a></li>
        </ul>
        <hr>
        <p>
            <b>{{ name }}</b> – это {{ user_description }}
        </p>
        <img src="{{ url_for('static', filename='img/maksim.jpeg') }}" width="250px" alt="Фото Максима">
    </div>
</body>
</html>
